*,
*::after,
*::before {
    box-sizing: border-box;
}
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    color: #6C6C6C;
    font-size:  14px;
    min-width: 1350px;
    margin: 0 auto;
    height: 100%;
    // user-select: none;
    font-family: system-ui, '\5b8b\4f53', '\9ED1\4F53', Arial, sans-serif, ;
}
img {
    vertical-align: middle;
    border: none;
}
input,
button {
    outline: none;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}

button {
    border: none;
}